cffi==1.14.0
click==7.1.2
cryptography==2.9.2
Flask==1.1.2
Flask-Cors==3.0.8
gevent==20.5.2
greenlet==0.4.15
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
ProTJec-backend @ file:///home/website/ProTJec/back_end
pycparser==2.20
PyJWT==1.7.1
PyMySQL==0.9.3
python-dotenv==0.13.0
six==1.15.0
Werkzeug==1.0.1
zope.event==4.4
zope.interface==5.1.0
